.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #111011;
}

.links a {
    
    color:aliceblue;
    font-size: 2rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.links:first-child {
    margin: 1rem;
}

.links:nth-child(2) {
    margin-top: 0.5rem;
}


