@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Default font size */
html {
    font-size: 10px;
}
  
  /* For large screens */
@media (min-width: 1200px) {
    html {
      font-size: 14px;
    }
}
  
  /* For medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
    html {
      font-size: 12px;
    }
}
  
  /* For small screens */
@media (max-width: 767px) {
    html {
      font-size: 10px;
    }
    
}
  
  /* For extra small screens */
@media (max-width: 479px) {
    html {
      font-size: 8px;
    }

}
body {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
  }
  